@import "defaults";

.m-howmanyhours {
  .m-marketing--header {
    padding: 0; 
    background: #FFF;
  }
  .m-marketing--header-inner {
    text-align: center;
    padding-bottom: 0 !important;
    h1 {
      color: #444;
    }
    h3 {
      color: #666; 
      padding-right: 0;
    }
  }
  .heart-svg {
    height: auto;
    display: block;
    margin: auto;
    width: 33%;
  }
}
