<div
  *ngIf="qualities?.length > 1"
  class="m-video--quality-control-wrapper"
  title="Video quality"
  i18n-title="@@VIDEO__QUALITY_SELECTOR__VIDEO_QUALITY_TOOLTIP"
>
  <i class="material-icons">high_quality</i>

  <ul class="m-video--quality-control">
    <li
      *ngFor="let quality of qualities"
      (click)="selectQuality(quality)"
      [ngClass]="{ 'm-video--selected-quality': current === quality }"
    >
      {{ quality }}
    </li>
  </ul>
</div>
