<span id="seeker" class="progress-bar" (click)="seek($event)">
  <div class="minds-bar progress" [ngStyle]="{ width: seeked + '%' }"></div>
  <div class="seeker-ball" [ngStyle]="{ left: seeked + '%' }"></div>
  <div class="minds-bar total"></div>
</span>
<span class="progress-stamps"
  >{{ elapsed.minutes }}:{{ elapsed.seconds }}/{{ time.minutes }}:{{
    time.seconds
  }}</span
>
