.m-blockchain--marketing--countdown {
  display: flex;
  flex-direction: row;
  @include m-theme() {
    color: themed($m-white);
  }

  .m-blockchain--marketing--countdown--col {
    flex: 1;
    text-align: center;

    span {
      display: block;
      font-size: 42px;
      line-height: 48px;
      font-weight: 600;
    }

    label {
      text-transform: uppercase;
      letter-spacing: 1.25px;
      font-weight: 300;
    }
  }
}
