<div class="m-marketing m-blockchain--marketing">
  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
      <video autoplay muted loop *ngIf="!videoError; else fallback">
        <source
          [src]="minds.cdn_assets_url + 'assets/videos/space-1/space-1.mp4'"
          type="video/mp4"
          (error)="onSourceError()"
        />
      </video>
      <ng-template #fallback>
        <img [src]="minds.cdn_assets_url + 'assets/marketing/space-1.png'" />
      </ng-template>
    </div>

    <div class="m-marketing--hero--inner">
      <div class="m-marketing--hero--overlay"></div>

      <div class="m-marketing--hero--slogans">
        <h1 i18n="@@M__BLOCKCHAIN__MKT__MINDS_TOKEN_TITLE">The Minds Token</h1>
        <h3 i18n="@@M__BLOCKCHAIN__MKT__MINDS_TOKEN_SUBTITLE">
          A social networking utility token to fuel rewards, advertising and p2p
          content subscriptions.
        </h3>
      </div>

      <div class="m-marketing--hero--actions">
        <div class="m-marketing--marketing-action-button">
          <m-blockchain--purchase phase="sale"></m-blockchain--purchase>
        </div>
      </div>
    </div>
  </div>

  <section class="m-marketing--section">
    <div class="m-blockchain--marketing--links">
      <a
        class="m-btn m-btn--slim m-btn--action"
        target="_blank"
        href="https://cdn-assets.minds.com/front/dist/assets/documents/Whitepaper-v0.5.pdf"
        >Whitepaper (PDF)</a
      >
      <a
        class="m-btn m-btn--slim m-btn--action"
        target="_blank"
        routerLink="/wallet/tokens/101"
        >Token 101</a
      >
      <a
        class="m-btn m-btn--slim m-btn--action"
        target="_blank"
        href="https://cdn-assets.minds.com/front/dist/assets/documents/Specs-v0.5.pdf"
        >Specs (PDF)</a
      >
    </div>
  </section>

  <section class="m-marketing--section" style="padding: 0">
    <div
      class="m-marketing--section--subsection m-marketing--section--subsection--first"
      style="border-bottom: 0"
    >
      <div class="m-marketing--section--subsection-container" style="padding:0">
        <div
          class="m-marketing--section--subsection-video"
          style="overflow: hidden;
                border-radius: 3px;
                padding: 0;
                flex: auto;
                height: auto;
                max-height: 360px;
                min-height: 0;
                max-width: 720px;
                margin: auto;"
        >
          <m-video
            width="100%"
            style="height:auto; max-height: 360px;"
            [muted]="false"
            [poster]="minds.cdn_assets_url + 'assets/marketing/video-thumb.jpg'"
            [src]="[
              {
                res: '360',
                uri: 'api/v1/media/872156064642600960/play',
                type: 'video/mp4'
              }
            ]"
            guid="872156064642600960"
            [torrent]="[{ res: '360', key: '872156064642600960/360.mp4' }]"
            #player
          >
          </m-video>
        </div>
      </div>
    </div>
  </section>

  <section class="m-marketing--section">
    <m-blockchain--marketing--blogs></m-blockchain--marketing--blogs>
  </section>

  <section
    class="m-marketing--section m-marketing--section-economy"
    style="padding-bottom: 0;"
  >
    <h1 class="" i18n="@@MINDS__HOME__HOMEPAGE__ECONOMY_TITLE">
      How the economy works
    </h1>
    <m-marketing--features
      [panels]="{ newsfeed: false }"
    ></m-marketing--features>
  </section>

  <div
    class="m-marketing--section m-marketing--section-margin m-blockchain--marketing--press"
  >
    <div class="m-marketing--section--grid">
      <h2
        style="text-align: center; width: 100%"
        i18n="@@M__TOKEN_MARKETING__PRESS"
      >
        Press
      </h2>
    </div>

    <div class="m-blockchain--marketing--links">
      <a
        class="m-btn m-btn--slim m-btn--action"
        target="_blank"
        href="https://cdn-assets.minds.com/front/dist/assets/documents/Overview-6thAugust2018.pdf"
        >Overview (pdf)</a
      >
      <a
        class="m-btn m-btn--slim m-btn--action"
        target="_blank"
        href="https://cdn-assets.minds.com/front/dist/assets/documents/PressKit-24thOctober2018.pdf"
        >Press Kit (pdf)</a
      >
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.wired.com/story/minds-anti-facebook/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/wired.png'
            "
            alt="Wired"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://techcrunch.com/2018/04/16/minds-aims-to-decentralize-the-social-network/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/techcrunch.jpg'
            "
            alt="Techcrunch"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a href="https://www.youtube.com/watch?v=PXb3_s4ix_4" target="_blank">
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/tucker.png'
            "
            alt="Tucker Carlson Tonight"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://bitcoinmagazine.com/articles/minds-wants-offer-blockchain-based-alternative-facebook/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/bitcoinmag.png'
            "
            alt="Bitcoin Magazine"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.independent.co.uk/life-style/gadgets-and-tech/news/superprivate-social-network-launched-to-take-on-facebook-with-support-of-anonymous-10325307.html"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/independent.png'
            "
            alt="The Independent"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.coindesk.com/blockchain-social-network-minds-is-migrating-to-ethereum-for-launch/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/coindesk.png'
            "
            alt="Coindesk"
          />
        </a>
      </div>
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <a href="https://youtu.be/W056blSc9t0?t=12m47s" target="_blank">
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/keiser.jpg'
            "
            alt="Keiser Report"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.barrons.com/articles/facebook-haters-going-to-hate-but-what-will-investors-do-1518467284"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/barrons.png'
            "
            alt="Barrons"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://observer.com/2017/05/minds-open-sourced-social-media-facebook-competitor/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/observer.png'
            "
            alt="Observer"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.sfchronicle.com/business/article/Done-with-Facebook-Twitter-User-owned-social-11226613.php"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/sfchronical.png'
            "
            alt="San Francisco Chronical"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://discover.coinsquare.io/digital-currency/deletefacebook-minds-blockchain-social-network/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/coinsquare.png'
            "
            alt="Coinsquare"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.breitbart.com/tech/2017/10/17/exclusive-minds-social-network-founder-discusses-the-decline-of-big-tech/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/breitbart.png'
            "
            alt="Breitbart"
          />
        </a>
      </div>
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.revistagq.com/noticias/tecnologia/articulos/minds-red-social-paga-usuarios-tokens/28841"
          target="_blank"
        >
          <img
            [src]="minds.cdn_assets_url + 'assets/marketing/press-logos/gq.png'"
            alt="GQ"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://cointelegraph.com/news/welcome-to-minds-like-facebook-but-without-the-snooping"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/cointelegraph.png'
            "
            alt="Coin Telegraph"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a href="https://www.youtube.com/watch?v=wD6QTAb1SHE" target="_blank">
          <img
            [src]="minds.cdn_assets_url + 'assets/marketing/press-logos/rt.png'"
            alt="Russia Today"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.huffingtonpost.com/2015/06/29/minds-social-network_n_7690028.html"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/huffingtonpost.png'
            "
            alt="The Huffington Post"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.businessinsider.com/facebook-competitor-mindscom-launches-with-help-from-anonymous-2015-6"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/businessinsider.png'
            "
            alt="Business Insider"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.forbes.com/sites/federicoguerrini/2015/06/15/struggling-with-facebook-organic-reach-decline-try-this-new-open-source-social-networking-app/#421685999665"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/forbes.png'
            "
            alt="Forbes"
          />
        </a>
      </div>
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <a
          href="https://venturebeat.com/2015/06/15/a-social-network-called-minds-has-an-answer-to-facebooks-strangling-of-organic-posts/ "
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/venturebeat.png'
            "
            alt="Venture Beat"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.adweek.com/socialtimes/minds-launches-virtual-currency-powered-social-networking-app/622152"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/mic.png'
            "
            alt=".Mic"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.adweek.com/socialtimes/minds-launches-virtual-currency-powered-social-networking-app/622152"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/adweek.png'
            "
            alt="Adweek"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.ibtimes.com/facebooks-latest-challenger-social-network-minds-pushes-privacy-transparency-1966653#.VX8Bvttr3M8.facebook"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/ibtimes.png'
            "
            alt="Internation Business Times"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.bbc.co.uk/newsbeat/article/33181388/anonymous-backs-new-encrypted-social-network-site"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/BBC.png'
            "
            alt="BBC"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="http://www.ethnos.gr/diethni/arthro/anti_facebook_apo_tous_anonymous-64207028/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/cryptobriefing.png'
            "
            alt="Crypto Briefing"
          />
        </a>
      </div>
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.cnet.com/news/non-creepy-ways-to-use-social-media-go-mobile/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/Cnet.png'
            "
            alt="Cnet"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.telesurenglish.net/news/Anonymous-Calls-on-Public-to-Help-Build-a-Better-Facebook-20150617-0050.html"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/Telesur.png'
            "
            alt="Telesur"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.zdnet.com/pictures/facebook-alternatives-social-apps-you-need-to-try/8/"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/zdnet.png'
            "
            alt="ZDNet"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.voanews.com/a/social-media-network-privacy/2846376.html"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/reuters.png'
            "
            alt="Reuters"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.voanews.com/a/social-media-network-privacy/2846376.html"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url + 'assets/marketing/press-logos/foxnews.png'
            "
            alt="Fox News"
          />
        </a>
      </div>

      <div class="m-marketing--section--grid-col">
        <a
          href="https://www.marketwatch.com/story/which-of-your-facebook-friends-leaked-your-data-to-cambridge-analytica-heres-the-sad-truth-2018-04-11"
          target="_blank"
        >
          <img
            [src]="
              minds.cdn_assets_url +
              'assets/marketing/press-logos/marketwatch.png'
            "
            alt="MarketWatch"
          />
        </a>
      </div>
    </div>
  </div>

  <div
    class="m-marketing--section m-marketing--section-margin m-blockchain--marketing--team"
  >
    <div class="m-marketing--section--grid">
      <h2
        style="text-align: center; width: 100%"
        i18n="@@M__TOKEN_MARKETING__TEAM"
      >
        Team
      </h2>
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://minds.com/icon/100000000000000341/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Bill Ottman
          <a href="https://www.linkedin.com/company/minds-com/" target="_blank"
            ><img
              [src]="minds.cdn_assets_url + 'assets/icons/linkedin.png'"
              alt="Linkedin"
          /></a>
        </span>

        <span class="m-blockchain--marketing-person-title">
          Co-founder &amp; CEO
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://minds.com/icon/100000000000000063/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Mark Harding
          <a
            href="https://www.linkedin.com/in/mark-harding-43303938/"
            target="_blank"
            ><img
              [src]="minds.cdn_assets_url + 'assets/icons/linkedin.png'"
              alt="Linkedin"
          /></a>
        </span>

        <span class="m-blockchain--marketing-person-title">
          Co-founder &amp; CTO
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://minds.com/icon/100000000000000134/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          John Ottman
          <a
            href="https://www.linkedin.com/in/john-ottman-091b173/"
            target="_blank"
            ><img
              [src]="minds.cdn_assets_url + 'assets/icons/linkedin.png'"
              alt="Linkedin"
          /></a>
        </span>

        <span class="m-blockchain--marketing-person-title">
          Co-founder &amp; Chairman
        </span>
      </div>
    </div>
    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://minds.com/icon/100000000000001111/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Jack Ottman
          <a
            href="https://www.linkedin.com/in/jack-ottman-35440464/"
            target="_blank"
            ><img
              [src]="minds.cdn_assets_url + 'assets/icons/linkedin.png'"
              alt="Linkedin"
          /></a>
        </span>

        <span class="m-blockchain--marketing-person-title">
          COO
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/pete.jpeg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Peter Schwartz
          <a
            href="https://www.linkedin.com/in/peter-schwartz-9b11111/"
            target="_blank"
            ><img
              [src]="minds.cdn_assets_url + 'assets/icons/linkedin.png'"
              alt="Linkedin"
          /></a>
        </span>

        <span class="m-blockchain--marketing-person-title">
          CFO
        </span>
      </div>
    </div>
  </div>

  <div
    class="m-marketing--section m-marketing--section-margin m-blockchain--marketing--team m-blockchain--marketing--team--more"
  >
    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://minds.com/icon/747562985026756623/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Nicolás Cesarini
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://minds.com/icon/714469159613767694/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Marcelo Rivera
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://minds.com/icon/773311697292107790/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Martin Santangelo
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://minds.com/icon/100000000000191224/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Nicholas Lewis
        </span>
      </div>
    </div>
  </div>

  <div
    class="m-marketing--section m-marketing--section-margin m-blockchain--marketing--team m-blockchain--marketing--team--more"
  >
    <div class="m-marketing--section--grid">
      <h2
        style="text-align: center; width: 100%"
        i18n="@@M__TOKEN_MARKETING__ADVISORS"
      >
        Advisors
      </h2>
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/reedsmith.png')"
        ></div>
        <span class="m-blockchain--marketing-person-name">
          Reed Smith LLP
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/gabe.jpeg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Gabriel Abed
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/jason.jpeg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Jason Tyra CPA
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/sai.jpeg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Sai Gundavelli
        </span>
      </div>
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/robert.jpeg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Robert Griffitts
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/max.jpg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Max Keiser
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/elizabeth.jpg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Elizabeth McCauley
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn.minds.com/icon/364859896568483840/large/1434047085')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Daniel Pinchbeck
        </span>
      </div>
    </div>

    <div class="m-marketing--section--grid">
      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn.minds.com/icon/782036635658231826/large')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Faizan Khan
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn.minds.com/icon/469824199200874510/large/12')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Douglas Rushkoff
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/stacey.jpg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Stacy Herbert
        </span>
      </div>

      <div class="m-marketing--section--grid-col">
        <div
          class="m-blockchain--marketing-person-image"
          style="background-image: url('https://cdn-assets.minds.com/front/dist/assets/marketing/advisors/heisenberg.jpg')"
        ></div>

        <span class="m-blockchain--marketing-person-name">
          Heisenberg Capital
        </span>
      </div>
    </div>
  </div>
</div>

<m-footer></m-footer>
