<div class="m-blockchain--marketing--pledges">
  <table class="m-blockchain--marketing--pledges--amounts" *ngIf="!inProgress">
    <ng-container *ngIf="phase === 'presale'">
      <tr>
        <td
          class="m-blockchain--marketing--pledges--amounts--label"
          i18n="@@M__PURCHASE_PLEDGED_AMOUNTS"
        >
          Pledged
        </td>
        <td class="m-blockchain--marketing--pledges--amounts--value">
          {{ stats.amount | token: 18 | number: '1.0-2' }}
          <span class="m-blockchain--marketing--pledges--eth-label">ETH</span>
        </td>
      </tr>
      <tr>
        <td
          class="m-blockchain--marketing--pledges--amounts--label"
          i18n="@@M__PURCHASE_PLEDGED_CHANNEL"
        >
          Channels
        </td>
        <td class="m-blockchain--marketing--pledges--amounts--value">
          {{ stats.count | number }}
        </td>
      </tr>
    </ng-container>
    <tr>
      <td class="m-blockchain--marketing--pledges--amounts--label"></td>
      <td class="m-blockchain--marketing--pledge--input">
        <input
          type="number"
          class="m-input m-border"
          [(ngModel)]="tokens"
          #tokenInput
        />
        <span class="m-blockchain--marketing--pledges--eth-label">Tokens</span>
      </td>
    </tr>
    <tr>
      <td class="m-blockchain--marketing--pledges--amounts--label"></td>
      <td class="m-blockchain--marketing--pledge--input">
        <input
          type="number"
          class="m-input m-border"
          [(ngModel)]="amount"
          style="font-size: 18px; padding: 18px; cursor: pointer"
          #ethInput
          (click)="ethInput.blur(); promptTokenInput(tokenInput)"
        />
        <span class="m-blockchain--marketing--pledges--eth-label">ETH</span>
        <button
          class="m-btn m-btn--action"
          (click)="purchase()"
          i18n="@@M__PURCHASE_PURCHASE_HEADER"
        >
          Purchase
        </button>
      </td>
    </tr>
    <tr style="height:16px;">
      <td class="m-blockchain--marketing--pledges--amounts--label"></td>
      <td
        class="m-blockchain--marketing--pledge--input"
        style="text-align: left"
      >
        <m-tooltip
          anchor="left"
          i18n="@@MINDS__TOPBAR__TOP__OPEN_TRENDING_ITEM_TOOLTIP"
        >
          <span
            m-tooltip--anchor
            class="m-blockchain--marketing--pledges--eth-subtext"
            >1 Token = $1.25 USD = {{ 1 / rate }} ETH</span
          >

          <ng-container>
            ETH amount is based on the current USD/ETH rate and is updated in
            regular intervals
          </ng-container>
        </m-tooltip>
        <span class="m-layout__spacer"></span>
        <button (click)="purchaseEth()" class="m-btn m-btn--action">
          Buy ETH
        </button>
      </td>
    </tr>
  </table>
</div>

<m-modal-signup-on-action
  *ngIf="showLoginModal"
  open="true"
  (closed)="closeLoginModal()"
  action="pledge"
  [overrideOnboarding]="true"
>
</m-modal-signup-on-action>

<m-modal open="true" *ngIf="showPledgeModal" (closed)="closePledgeModal()">
  <div class="m-blockchain--marketing--modal">
    <div class="m-token--onboarding" *ngIf="!session.getLoggedInUser().rewards">
      <h2 i18n="@@M__PURCHASE_VERIFY_PHONE_MESSAGE">
        Please verify your phone number
      </h2>
      <m-blockchain--marketing--onboard></m-blockchain--marketing--onboard>
    </div>

    <div *ngIf="session.getLoggedInUser().rewards && !confirmed">
      <h2 i18n="@@M__PURCHASE_TITLE">
        Your {{ phase === 'presale' ? 'pledge' : 'purchase' }} for
        {{ tokens | number: '1.0-4' }} Tokens ({{ amount | number: '1.0-4' }}
        ETH)
      </h2>

      <p
        class="m-blockchain--marketing--pledge--note"
        i18n="@@M__PURCHASE_ETH_MIN_TO_APPROVE"
        hidden
      >
        Token {{ phase === 'presale' ? 'pledges' : 'purchases' }} over 40 ETH
        need to be approved by Minds before they can be issued.
      </p>

      <table>
        <tr>
          <td><input id="ofac-check" type="checkbox" [(ngModel)]="ofac" /></td>
          <td class="m-blockchain--marketing--pledge--check-label">
            <label for="ofac-check" i18n="@@M__PURCHASE_OFAC">
              I am not listed on any US OFAC Sanction list or prohibited from
              engaging in business in the USA
            </label>
          </td>
        </tr>
        <tr>
          <td><input id="use-check" type="checkbox" [(ngModel)]="use" /></td>
          <td class="m-blockchain--marketing--pledge--check-label">
            <label for="use-check" i18n="@@M__PURCHASE_INVESTIMENT_INTENT">
              I am purchasing the tokens for use on the Minds Platform, and not
              as an investment.
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input id="terms-check" type="checkbox" [(ngModel)]="terms" />
          </td>
          <td class="m-blockchain--marketing--pledge--check-label">
            <label for="terms-check" i18n="@@M__PURCHASE_TERMS">
              I have read and accept the
              <a
                href="https://cdn-assets.minds.com/front/dist/assets/documents/TermsOfSale-v0.1.pdf"
                target="_blank"
                >Terms Of Sale</a
              >
              for the Minds Token
            </label>
          </td>
        </tr>
      </table>
    </div>

    <div *ngIf="confirmed">
      <h2 i18n="@@M__PURCHASE_COMPLETED_H2">
        Thank you for your purchase of {{ tokens | number: '1.0-4' }} Tokens
      </h2>
      <p
        class="m-blockchain--marketing--pledge--note"
        i18n="@@M__PURCHASE_COMPLETED_NOTE"
      >
        Your transaction is processing and we will notify you once the
        transaction is complete.
      </p>
      <p
        class="m-blockchain--marketing--pledge--note"
        i18n="@@M__PURCHASE_COMPLETED_NOTE_REVIEW"
        *ngIf="amount > 60"
      >
        Because your purchase was over 60 ETH, it may take over 24 hours for the
        transaction to be completed. If you would like to contact us, please
        reach out to info@minds.com.
      </p>
      <br />
    </div>

    <div>
      <button
        class="m-btn m-btn--slim m-btn--action"
        (click)="confirm()"
        [disabled]="!canConfirm()"
        *ngIf="!confirming && !confirmed"
        i18n="@@M__PURCHASE_BUTTON"
      >
        Purchase
      </button>
      <button
        class="m-btn m-btn--slim"
        *ngIf="confirming"
        i18n="@@M__PURCHASE_PLEASE_WAIT_BUTTON"
      >
        Please wait...
      </button>
      <button
        class="m-btn m-btn--slim"
        *ngIf="confirmed"
        i18n="@@M__PURCHASE_COMPLETED"
      >
        Completed
      </button>

      <span class="m-error--text">{{ error }}</span>
    </div>
  </div>
</m-modal>

<m-blockchain__eth-modal
  *ngIf="showEthModal"
  [rate]="rate"
  (close)="closePurchaseEth()"
>
</m-blockchain__eth-modal>
