<minds-newsfeed-poster
  *ngIf="isOwner()"
  (load)="prepend($event)"
  #poster
></minds-newsfeed-poster>

<div class="minds-list">
  <div>
    <m-sort-selector
      class="m-channel--sorted__SortSelector m-border"
      [allowedAlgorithms]="false"
      [allowedPeriods]="false"
      [allowedCustomTypes]="['activities', 'images', 'videos', 'blogs']"
      [customType]="type"
      (onChange)="setFilter($event.customType)"
    ></m-sort-selector>

    <m-onboarding-feed *ngIf="isOwner()"></m-onboarding-feed>

    <ng-container
      *ngIf="['images', 'videos'].indexOf(type) > -1; else entityListView"
    >
      <m-newsfeed__tiles
        [entities]="feedsService.feed | async"
      ></m-newsfeed__tiles>
    </ng-container>
    <ng-template #entityListView>
      <m-newsfeed__entity
        *ngFor="let entity of feedsService.feed | async; let i = index"
        [entity]="entity | async"
        [slot]="i + 1"
      ></m-newsfeed__entity>
    </ng-template>

    <infinite-scroll
      distance="25%"
      (load)="loadNext()"
      [moreData]="feedsService.hasMore | async"
      [inProgress]="feedsService.inProgress | async"
    ></infinite-scroll>
  </div>
</div>
