<div class="m-marketing">
  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
      <img [src]="minds.cdn_assets_url + 'assets/photos/blown-bulb.jpg'" />
    </div>

    <div class="m-marketing--hero--inner">
      <div class="m-marketing--hero--slogans">
        <h1 i18n="@@WIRE__MKT__WIRE_TITLE">Wire</h1>
        <h3 i18n="@@WIRE__MKT__WIRE_DESC">
          Exchange Minds Tokens directly with other channels on the network
        </h3>
      </div>
      <div class="m-marketing--hero--overlay"></div>
    </div>
  </div>

  <div class="m-marketing--contents m-layout--row">
    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone"
    >
      <i class="ion-icon ion-flash"></i>
      <h2 i18n="@@WIRE__MKT__SUPPORT_TITLE">Support Great Creators</h2>
      <span i18n="@@WIRE__MKT__SUPPORT_DESC"
        >Tap the Wire icon on channels or posts to send points, dollars or
        Tokens to your favorite content creators</span
      >
    </div>
    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">favorite</i>
      <h2 i18n="@@WIRE__MKT__REWARD_FANS_TITLE">Reward your fans</h2>
      <span i18n="@@WIRE__MKT__REWARD_FANS_DESC"
        >Build custom reward tiers for your fans to subscribe to your products
        and services, in exchange for points dollars or Tokens.</span
      >
    </div>
  </div>

  <div class="m-marketing--contents m-layout--row">
    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">group</i>
      <h2 i18n="@@WIRE__MKT__CROWDFUNDING_TITLE">Crowdfunding</h2>
      <span i18n="@@WIRE__MKT__CROWDFUNDING_DESC"
        >Earn monthly recurring payments from your supporters for premium
        subscriptions</span
      >
    </div>
    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">loyalty</i>
      <h2 i18n="@@WIRE__MKT__TIPS_TITLE">Tips</h2>
      <span i18n="@@WIRE__MKT__TIPS_DESC"
        >Receive tips from your subscribers on your posts</span
      >
    </div>
    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">lock</i>
      <h2 i18n="@@WIRE__MKT__EXCLUSIVE_TITLE">Exclusive</h2>
      <span i18n="@@WIRE__MKT__EXCLUSIVE_DESC"
        >Place any of your blogs, videos, images or statuses behind a
        customizable paywall.</span
      >
    </div>
  </div>

  <div class="m-marketing--hero">
    <div class="m-marketing--background-video">
      <img [src]="minds.cdn_assets_url + 'assets/photos/canyon.jpg'" />
    </div>

    <div class="m-marketing--hero-inner">
      <h2 i18n="@@WIRE__MKT__DECENT_MON_P2P_DESC">
        Decentralized. Monetized. <br />
        Peer-to-peer. Autonomous.
      </h2>
    </div>
  </div>

  <div class="m-wire--marketing-faq mdl-color-text--blue-grey-600">
    <m-faq category="wire"></m-faq>
  </div>
</div>

<m-footer></m-footer>
