m-nodes--marketing {
  .m-error--text {
    margin-left: 8px;
    font-size: 11px;
    @include m-theme() {
      color: themed($m-red);
    }
  }

  .m-nodes--marketing {
    .m-marketing--hero {
      .m-marketing--hero--inner {
        flex-wrap: wrap;
      }

      .m-marketing--hero--slogans {
        h1 {
          font-size: 86px;
        }
      }

      .m-marketing--hero--actions {
        text-align: right;
        flex-basis: 85px;
        @media screen and (max-width: 500px) {
          margin-left: 0;
          margin-top: 52px;
        }

        .m-nodes--marketing--pledge--input {
          display: flex;
          align-items: center;
          text-align: right;

          i {
            font-size: 36px;
            @include m-theme() {
              color: themed($m-white);
            }
          }

          .m-input {
            border: 0;
            padding: 12px 16px;
            font-size: 26px;
            letter-spacing: 2.5px;
            font-weight: 600;
            text-align: right;
            @include m-theme() {
              color: themed($m-white);
              background-color: rgba(themed($m-white), 0.2);
            }
          }

          .m-btn {
            height: auto;
            padding: 20px;
            border: 0;
            margin: 16px 0;
            margin-left: 12px;
            @include m-theme() {
              color: themed($m-white) !important;
              background-color: rgba(themed($m-white), 0.3) !important;
            }
          }

          .m-nodes--marketing--pledges--eth-label {
            font-size: 22px;
            margin: 0 0 0 0.35em;
            @include m-theme() {
              color: themed($m-white);
            }
          }
        }

        .m-marketing--marketing-action-button {
          button.mdl-button {
            width: 200px;
            font-size: 20px;

            @include m-theme() {
              color: themed($m-white);
              background-color: themed($m-blue) !important;
            }
          }
        }
      }
    }

    .m-nodes--marketing--pledges {
      display: flex;
      flex-direction: row;

      .m-nodes--marketing--pledges--amounts {
        padding: 24px 12px;
        text-align: left;
        width: 100%;

        tr {
          height: 72px;
        }

        .m-nodes--marketing--pledges--amounts--value {
          line-height: 52px;
          font-size: 52px;
          font-weight: 600;
          text-align: right;
          @include m-theme() {
            color: themed($m-white);
          }
        }

        .m-nodes--marketing--pledges--amounts--label {
          font-size: 14px;
          font-weight: 600;
          width: 116px;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-weight: 400;
          @include m-theme() {
            color: themed($m-grey-50);
          }
        }
      }
    }

    .m-nodes--marketing--pledges--eth-label {
      font-weight: 300;
    }

    m-video--progress-bar .seeker-ball {
      top: 12px;
    }

    m-video .minds-video-play-icon {
      @include m-theme() {
        text-shadow: 0 0 3px themed($m-grey-900);
      }
    }
  }

  .m-nodes--marketing--links a {
    text-decoration: none;
    line-height: 48px;
    white-space: nowrap;
    margin-right: 8px;
  }

  .m-nodes--marketing--modal {
    text-align: left;
    padding: 24px;

    h2 {
      font-size: 30px;
      @include m-theme() {
        color: themed($m-grey-800) !important;
      }
    }

    m-nodes--marketing--onboard {
      text-align: left;

      h2 {
        display: none;
      }

      .m-token--onboarding--slide {
        border: 0;
        padding: 0 !important;

        > div:nth-of-type(1) {
          width: 100% !important;
        }
        > div:nth-of-type(2) {
          display: none;
        }
      }
    }

    table {
      margin: 16px 0;
      tr {
        height: 50px;
      }
    }
  }

  .m-nodes--marketing--pledge--address-input {
    padding-bottom: 16px;

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      display: block;
      width: 100%;
      border-radius: 4px;
      font-size: 16px;
      padding: 8px;
      letter-spacing: 1px;
      @include m-theme() {
        border: 1px solid themed($m-grey-50);
      }
    }
  }

  .m-nodes--marketing--pledge--address-warn {
    font-size: 0.85em;
    padding-bottom: 16px;
    @include m-theme() {
      color: themed($m-grey-400);
    }
  }

  .m-nodes--marketing--pledge--note {
    margin-bottom: 0;
  }

  .m-nodes--marketing--pledge--note,
  .m-nodes--marketing--pledge--check-label {
    line-height: 1.35;
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }

  .m-nodes--marketing--pledge--wallet-label {
    font-weight: 500;
  }

  .m-nodes--marketing-tde-stats {
    max-width: 1028px;

    > .mdl-cell {
      display: flex;
      justify-content: center;

      .m-nodes--marketing-stats-cell {
        display: flex;
        flex-direction: column;
      }
    }

    .m-nodes--marketing-value,
    .m-nodes--marketing-label {
      display: block;
      text-align: left;
    }

    .m-nodes--marketing-value {
      font-size: 52px;
      letter-spacing: 2px;
      line-height: 1.5;
      @include m-theme() {
        color: themed($m-blue);
      }
    }

    .m-nodes--marketing-label {
      font-size: 24px;
      letter-spacing: 2px;
      font-weight: 300;
      line-height: 1.5;
      text-transform: uppercase;
      @include m-theme() {
        color: themed($m-grey-400);
      }
      @media screen and (max-width: $max-mobile) {
        text-align: center;
      }
    }
  }

  .m-nodes--marketing--bullets {
    h3 {
      font-weight: 600;
    }
    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;
    }
    li {
      font-size: 16px;
      letter-spacing: 0.25px;
      padding: 16px 0;
      @include m-theme() {
        color: themed($m-grey-700);
        border-bottom: 1px solid themed($m-grey-50);
      }
    }
  }

  .m-nodes--marketing--balloon {
    padding: 200px 0 !important;
    margin-bottom: 100px;
  }

  .m-nodes--marketing--press {
    .m-marketing--section--grid {
      align-items: center;
      @media screen and (max-width: 500px) {
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
    .m-marketing--section--grid-col {
      img {
        max-width: 80%;
      }
      @media screen and (max-width: 500px) {
        flex: 1;
        margin: 4px !important;
        padding: 0 !important;
        img {
          max-width: 80% !important;
        }
      }
    }
  }

  .m-nodes--value-logos {
    padding-bottom: 0;

    > img {
      width: auto;
      height: 128px;
    }
  }

  .m-nodes--marketing--team {
    .m-marketing--section--grid {
      justify-content: center;
    }

    .m-marketing--section--grid-col {
      padding: 16px 8px;
      text-align: center;
      width: 225px;
      flex-basis: 225px;
      max-width: 225px;

      @media screen and (max-width: 500px) {
        width: auto;
        margin: 8px auto !important;
      }
    }

    .m-nodes--marketing-person-image {
      margin: auto;
      width: 125px;
      height: 125px;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      @include m-theme() {
        border: 1px solid themed($m-grey-50);
      }
    }

    .m-nodes--marketing-person-name,
    .m-nodes--marketing-person-title {
      display: block;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      letter-spacing: 0.25px;
      line-height: 1.5;
      text-align: center;
    }

    .m-nodes--marketing-person-name {
      font-size: 24px;
      margin-top: 16px;
      font-weight: 800;
    }

    .m-nodes--marketing-person-title {
      font-size: 14px;
      @include m-theme() {
        color: themed($m-grey-400);
      }
    }

    &.m-nodes--marketing--team--more {
      padding-top: 0;

      .m-nodes--marketing-person-image {
        width: 75px;
        height: 75px;
      }
      .m-nodes--marketing-person-name {
        font-size: 18px;
      }
    }
  }

  .m-nodes--marketing--blogs {
    display: flex;
    flex-direction: row;
    max-width: 1008px;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1350px) {
      max-width: 1008px;
    }

    @media screen and (max-width: 1008px) {
      max-width: 700px;
    }

    @media screen and (max-width: 675px) {
      max-width: 360px;
    }

    m-blog--tile {
      margin: 8px;
      height: 200px;
      width: 320px;
      display: block;
      text-align: left;
    }
  }

  .m-nodes--marketing-faq {
    padding: 16px;
    margin: auto;
    max-width: 1280px;
  }

  m-nodes--purchase m-modal {
    text-align: left;
  }

  m-nodes--pre-register {
    padding: 0 !important;
  }
}
