<div class="m-marketing m-nodes--marketing">
  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
      <img
        [src]="
          minds.cdn_assets_url +
          'assets/marketing/international-space-station-1776401_1920.jpg'
        "
      />
    </div>

    <div class="m-marketing--hero--inner">
      <div class="m-marketing--hero--overlay"></div>

      <div class="m-marketing--hero--slogans">
        <h1 i18n="@@M__nodes__MKT__MINDS_TOKEN_TITLE">Nodes</h1>
        <h3 i18n="@@M__nodes__MKT__MINDS_TOKEN_SUBTITLE">
          Launch your own white-labeled social network and mobile app.
        </h3>
      </div>
    </div>
  </div>

  <section
    class="m-marketing--section mdl-color--white"
    style="padding-bottom: 0;"
  >
    <h1 class="" i18n="@@MINDS__HOME__HOMEPAGE__ECONOMY_TITLE">
      A Social Hub for your Business
    </h1>

    <div
      class="m-marketing--section--subsection m-marketing--section--subsection--first"
    >
      <div class="m-marketing--section--subsection-container">
        <div
          class="m-marketing--section--subsection-left m-marketing--section--subsection-text"
        >
          <h2>A stack full of features branded your way.</h2>
          <p>
            Harness all the features of Minds with your own label.
          </p>
        </div>
        <div
          class="m-marketing--section--subsection-right m-marketing--section--subsection-image"
          style="text-align: center"
        >
          <img [src]="minds.cdn_assets_url + 'assets/logos/bulb.jpg'" />
        </div>
      </div>
    </div>

    <div class="m-marketing--section--subsection mdl-color--grey-50">
      <div class="m-marketing--section--subsection-container">
        <div
          class="m-marketing--section--subsection-left m-marketing--section--subsection-image"
        >
          <img [src]="minds.cdn_assets_url + 'assets/screenshots/post.png'" />
        </div>
        <div
          class="m-marketing--section--subsection-right m-marketing--section--subsection-text"
        >
          <h2>For your enterprise.</h2>
          <p>
            A private social intranet provides a secure space to improve
            communications and increase productivity of employees, students or
            memberships.
          </p>
        </div>
      </div>
    </div>

    <div class="m-marketing--section--subsection">
      <div class="m-marketing--section--subsection-container">
        <div
          class="m-marketing--section--subsection-left m-marketing--section--subsection-text"
        >
          <h2>For your community.</h2>
          <p>
            Stop outsourcing your social media presence and losing your reach.
            Regain direct access to your audience and offer rewards for
            activity.
          </p>
        </div>
        <div
          class="m-marketing--section--subsection-right m-marketing--section--subsection-image"
        >
          <img [src]="minds.cdn_assets_url + 'assets/marketing/nodes.png'" />
        </div>
      </div>
    </div>

    <div
      class="m-marketing--section--subsection m-marketing--section--subsection--alt"
    >
      <div class="m-marketing--section--subsection-container">
        <div
          class="m-marketing--section--subsection-left m-marketing--section--subsection-image"
        >
          <img
            [src]="minds.cdn_assets_url + 'assets/marketing/world-icon.png'"
          />
        </div>
        <div
          class="m-marketing--section--subsection-right m-marketing--section--subsection-text"
        >
          <h2>Teams anywhere.</h2>
          <p>
            Media & news companies, universities and institutions, tech
            startupos, non-profits, workgroups and project teams can all launch
            custom networks.
          </p>
        </div>
      </div>
    </div>

    <div class="m-marketing--section--subsection">
      <div class="m-marketing--section--subsection-container">
        <div
          class="m-marketing--section--subsection-left m-marketing--section--subsection-text"
        >
          <h2>Sync across devices.</h2>
          <p>
            Robust applications for web, Android and iOS
          </p>
        </div>
        <div
          class="m-marketing--section--subsection-right m-marketing--section--subsection-image"
        >
          <img
            [src]="minds.cdn_assets_url + 'assets/screenshots/devices.jpg'"
          />
        </div>
      </div>
    </div>
  </section>

  <div
    class="m-marketing--section m-marketing--section-margin m-nodes--marketing--contact-us"
  >
    <p>
      Contact us at <a href="mailto:info@minds.com">info@minds.com</a> for a
      quote to launch your own node.
    </p>
  </div>
</div>

<m-footer></m-footer>
