.m-revenue--options {
  margin: auto;
  @include m-theme() {
    background-color: themed($m-white);
  }

  .m-revenue--options-payout-method {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;

    h3 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 24px;
    }
  }

  .m-revenue--options-payout-method-bank {
    p {
      font-family: 'Roboto', Helvetica, sans-serif;
      margin: 0;
    }
    .m-revenue--options-payout-method-bank-account {
      display: flex;
      align-items: center;
      padding: 16px;
      border-radius: 3px;
      font-family: 'Roboto', Helvetica, sans-serif;
      letter-spacing: 1px;
      margin: 16px 0;
      @include m-theme() {
        border: 1px solid themed($m-grey-100);
      }

      .m-revenue--options-payout-method-bank--name {
        font-weight: 600;
        padding-right: 38px;
      }
      .m-revenue--options-payout-method-bank--number {
        letter-spacing: 6px;
        flex: 2;
      }
      .m-revenue--options-payout-method-bank--actions {
        text-align: right;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        cursor: pointer;
        @include m-theme() {
          color: themed($m-grey-200);
        }
      }
    }
  }

  .m-revenue--options-payout-method-setup {
    p {
      font-family: 'Roboto', Helvetica, sans-serif;
    }

    form {
      label {
        text-transform: uppercase;
        font-family: 'Roboto', Helvetica, sans-serif;
        letter-spacing: 1px;
        word-spacing: 4px;
      }
      input {
        width: 100%;
        margin: 16px 0;
        padding: 8px;
        font-family: 'Roboto', Helvetica, sans-serif;
        font-size: 16px;
      }

      minds-country-input {
        width: 100%;
        display: block;
        margin: 16px 0;

        select {
          font-size: 16px;
          font-family: 'Roboto', Helvetica, sans-serif;
          font-weight: 300;
          @include m-theme() {
            color: themed($m-grey-400);
          }
        }
      }
    }
  }

  .m-error {
    padding: 16px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    margin: 16px 0;
    border-radius: 2px;
  }

  .m-revenue--options-cancel {
    margin-top: 32px;
    padding: 16px;

    h3 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 24px;
    }
    p {
      font-family: 'Roboto', Helvetica, sans-serif;
      //margin:0;
    }
    button {
      width: 200px;
    }
  }
}
