<ng-container *ngIf="group">
  <minds-newsfeed-poster
    #poster
    (load)="prepend($event)"
    [containerGuid]="group.guid"
    [accessId]="group.guid"
    *ngIf="filter == 'activity' && group['is:member']"
  >
  </minds-newsfeed-poster>

  <div
    class="mdl-shadow--4dp mdl-color--blue-grey-50 mdl-color-text--blue-grey-500 m-newsfeed-message"
    (click)="pollingLoadNew()"
    *ngIf="filter == 'activity' && pollingNewPosts"
  >
    <i class="material-icons">update</i> {{ pollingNewPosts }} new {{
    pollingNewPosts === 1 ? 'post' : 'posts' }}
  </div>

  <a
    class="mdl-shadow--4dp mdl-color--blue-grey-50 mdl-color-text--blue-grey-500 m-newsfeed-message"
    routerLink="review"
    *ngIf="filter == 'activity' && (group['is:owner']||group['is:moderator']) && group['adminqueue:count']"
  >
    <i class="material-icons">rate_review</i>
    {{ group['adminqueue:count'] }} new {{ group['adminqueue:count'] === 1 ?
    'post' : 'posts' }} in review queue
  </a>

  <div
    class="minds-list"
    [class.m-groupProfileFeed__mediaList]="filter !== 'activity'"
  >
    <minds-activity
      *ngFor="let activity of pinned; let i = index"
      [object]="activity"
      [canDelete]="group['is:owner'] || group['is:moderator']"
      (delete)="delete(activity)"
      [showRatingToggle]="true"
      [slot]="i + 1"
      class="mdl-card item"
    >
    </minds-activity>

    <minds-activity
      *ngFor="let a of activity; let i = index"
      class="mdl-card item"
      [object]="a"
      [canDelete]="group['is:owner'] || group['is:moderator']"
      (delete)="delete(a)"
      [slot]="i + (pinned?.length || 0) + 1"
    >
      <!-- Menu Actions -->
      <li
        post-menu
        class="mdl-menu__item"
        *ngIf="group['is:owner']"
        (click)="kick(a?.ownerObj)"
        i18n="@@GROUPS__PROFILE__FEED__REMOVE_USER"
      >
        Remove user
      </li>
    </minds-activity>

    <infinite-scroll
      distance="25%"
      (load)="load()"
      [moreData]="moreData"
      [inProgress]="inProgress"
    >
    </infinite-scroll>
  </div>

  <m-groups__kick-modal
    *ngIf="kicking"
    [user]="kicking"
    [group]="group"
    (closed)="kick(null)"
  ></m-groups__kick-modal>
</ng-container>
