<m-modal
  [open]="open"
  (closed)="onClose($event)"
  *ngIf="!session.isLoggedIn() || display != 'initial'"
>
  <div
    class="mdl-card__title"
    [hidden]="display == 'onboarding' || display == 'categories'"
  >
    <img
      src="{{minds.cdn_assets_url}}assets/logos/logo.svg"
      (click)="close()"
    />
  </div>

  <!-- Initial Display -->
  <div *ngIf="display == 'initial'">
    <div class="m-signup-modal-feature-text mdl-card__supporting-text">
      We are an open source platform for Internet freedom. Get paid in crypto
      for your contributions to the community.
    </div>

    <div class="mdl-card__supporting-text m-signup-buttons">
      <button class="m-btn m-btn--action m-btn--slim" (click)="do('login')">
        Login
      </button>
      <button class="m-btn m-btn--action m-btn--slim" (click)="do('register')">
        Register
      </button>
    </div>

    <div class="mdl-card__supporting-text m-modal-signup-apps">
      <a
        href="https://geo.itunes.apple.com/us/app/minds-com/id961771928?mt=8&amp;uo=6"
      >
        <img
          src="https://devimages-cdn.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg"
        />
      </a>
      <m-androidApp__download (click)="close()"></m-androidApp__download>
    </div>

    <div class="mdl-card__supporting-text">
      <span
        class="m-modal-signup-skip"
        (click)="close()"
        i18n="@@MODALS__SIGNUP__MAYBE_LATER"
        >Maybe later</span
      >
    </div>
  </div>
  <!-- Login Display -->
  <minds-form-login
    (done)="done('login')"
    (doneRegistered)="display = 'fb-complete'"
    (canceled)="close()"
    *ngIf="display == 'login'"
  ></minds-form-login>
  <!-- Register Display -->
  <span
    style="font-weight: bold;text-align:center;font-size: 13px;margin-bottom: -14px;cursor: pointer;"
    class="mdl-color-text--blue-grey"
    *ngIf="display == 'register'"
    (click)="do('login')"
    i18n="@@MODALS__SIGNUP__ALREADY_HAVE_CHANNEL"
    >Already have a channel? Click here.</span
  >
  <minds-form-register
    (done)="done('register')"
    (canceled)="close()"
    *ngIf="display == 'register'"
  ></minds-form-register>
  <!-- FB Signin final phase -->
  <minds-form-fb-register
    (done)="done('register')"
    (canceled)="close()"
    *ngIf="display == 'fb-complete'"
  ></minds-form-fb-register>
  <!-- Categories selector -->
  <minds-onboarding-categories-selector
    (done)="done('categories')"
    *ngIf="display == 'categories'"
  ></minds-onboarding-categories-selector>
  <!-- Tutorial Display -->
  <minds-tutorial *ngIf="display == 'tutorial'"></minds-tutorial>
</m-modal>
