<div class="mdl-grid" style="max-width:900px; justify-content: center;">
  <div class="m-loader" *ngIf="inProgress">
    <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
  </div>

  <div class="m-error-splash" *ngIf="error && !inProgress">
    <img [src]="minds.cdn_assets_url + 'assets/logos/logo.svg'" />
    <h3 class="mdl-color-text--red-300">{{ error }}</h3>
    <span
      class="mdl-color-text--blue-grey-300"
      i18n="@@M__COMMON__PLEASE_TRY_AGAIN"
      >Please try again later</span
    >
  </div>

  <div class="mdl-cell mdl-cell--8-col">
    <div class="m--spam-notice mdl-shadow--2dp" *ngIf="activity?.spam">
      <ng-container i18n="@@MINDS__NEWSFEED__SINGLE__FLAGGED_AS_SPAM"
        >This activity is flagged as spam.</ng-container
      >
      <ng-container
        *ngIf="!session.isAdmin()"
        i18n="@@MINDS__NEWSFEED__SINGLE__APPEAL_FLAG_NOTE"
      >
        If you wish to appeal, please contact us at info@minds.com.
      </ng-container>
    </div>

    <div class="minds-list">
      <minds-activity
        *ngIf="activity"
        [object]="activity"
        [commentsToggle]="true"
        [focusedCommentGuid]="focusedCommentGuid"
        (delete)="delete(activity)"
        [showRatingToggle]="true"
        [slot]="1"
        class="mdl-card mdl-shadow--2dp item"
      >
      </minds-activity>
    </div>
  </div>
</div>
