<div class="m-wallet--balance m-border">
  <ng-container *ngIf="!inProgress; else loading">
    <h2>{{ balance | token: 18 | number }}</h2>
  </ng-container>

  <ng-template #loading>
    <h2>...</h2>
  </ng-template>

  <h3 i18n="@@WALLET__BALANCES__TOKENS__TOKENS_TITLE">Tokens</h3>

  <div class="m-wallet--balance--addresses">
    <span
      *ngIf="addresses.length"
      i18n="@@WALLET__BALANCES__TOKENS__BREAKDOWN_TITLE"
      >Breakdown</span
    >

    <div
      class="m-wallet--balance--addresses-address"
      *ngFor="let address of addresses"
    >
      <div class="m-wallet--balance--addresses-address-col">
        <label class="m-wallet--balance--addresses-address-label">
          <span i18n="@@WALLET__BALANCES__TOKENS__ADDRESS_LABEL"
            >{{ address.label }} Address</span
          >
          <m-tooltip
            icon="help"
            *ngIf="address.label == 'Receiver'"
            i18n="@@WALLET__BALANCES__TOKENS__ADDRESS_LABEL_TOOLTIP_RECEIVER"
          >
            This is your public address which will receive Boost & Wire
            transactions via the blockchain. You can change this in Addresses.
          </m-tooltip>
          <m-tooltip
            icon="help"
            *ngIf="address.label == 'OffChain'"
            i18n="@@WALLET__BALANCES__TOKENS__ADDRESS_LABEL_TOOLTIP_OFFCHAIN"
          >
            This is your offchain address where your rewards are deposited.
            These transactions will not appear on the blockchain.
          </m-tooltip>
          <m-tooltip
            icon="help"
            *ngIf="address.label == 'OnChain'"
            i18n="@@WALLET__BALANCES__TOKENS__ADDRESS_LABEL_TOOLTIP_ONCHAIN"
          >
            This is your currently active Web3/Metamask wallet. This address
            differs from what you have configured to receive Boost & Wires via
            the blockchain.
          </m-tooltip>
          <m-tooltip
            icon="help"
            *ngIf="address.label == 'OnChain & Receiver'"
            i18n="@@WALLET__BALANCES__TOKENS__ADDRESS_LABEL_TOOLTIP_ONCHAIN_AND_RECEIVER"
          >
            This is your currently active Web3/Metamask wallet and is also
            configured to receive Boost & Wires via the blockchain.
          </m-tooltip>
        </label>
        <span class="m-wallet--balance--addresses-address-address">
          {{ address.address }}
        </span>
      </div>
      <div class="m-wallet--balance--addresses-address-col">
        <span class="m-wallet--balance--addresses-address-balance">
          {{ address.balance | token: 18 | number }}
        </span>
      </div>
    </div>

    <div
      class="m-wallet--balance--addresses-address"
      *ngIf="!session.getLoggedInUser().rewards"
    >
      <div class="m-wallet--balance--addresses-address-col">
        <label class="m-wallet--balance--addresses-address-label">
          <span i18n="@@WALLET__BALANCES__TOKENS__ADDRESS_LABEL"
            >Testnet Rewards</span
          >

          <m-tooltip icon="help">
            Signup for the rewards system with your phone number to receive
            these Tokens
          </m-tooltip>
        </label>
        <span class="m-wallet--balance--addresses-address-address">
          Pending
        </span>
      </div>

      <div class="m-wallet--balance--addresses-address-col">
        <span class="m-wallet--balance--addresses-address-balance">
          {{ testnetBalance | token: 18 | number }}
        </span>
      </div>
    </div>

    <div class="m-wallet--balance--addresses-address">
      <div class="m-wallet--balance--addresses-address-col">
        <label class="m-wallet--balance--addresses-address-label">
          <span i18n="@@WALLET__BALANCES__TOKENS__ADDRESS_LABEL"
            >ETH Balance</span
          >

          <m-tooltip icon="help">
            ETH is required to purchase Minds Token and to fund OnChain
            transactions
          </m-tooltip>
        </label>
      </div>

      <div class="m-wallet--balance--addresses-address-col">
        <span class="m-wallet--balance--addresses-address-balance">
          {{ ethBalance | token: 18 | number }}
        </span>
      </div>
    </div>
  </div>

  <div class="m-walletBalance__purchaseBtns" *ngIf="!isLocal">
    <a routerLink="/tokens" class="m-btn m-btn--slim m-btn--action">
      Buy Tokens
    </a>
    <a
      [routerLink]="['/token', { purchaseEth: 'open' }]"
      class="m-btn m-btn--slim m-btn--action"
    >
      Buy ETH
    </a>
  </div>

  <div class="m-wallet--balance--metamask" *ngIf="isLocal">
    <p>Setup Your OnChain Address to buy send and receive crypto</p>
    <img
      class="m-wallet--balance--metamask-logo"
      [src]="minds.cdn_assets_url + 'assets/ext/metamask.png'"
    />
    <a href="https://metamask.io/" target="_blank">
      <button class="m-btn m-btn--slim m-btn--action">Download Metamask</button>
    </a>
  </div>
  <div class="m-wallet--balance--testnet m-border">
    <p i18n="@@WALLET__BALANCES__TOKENS__RINKEBY_NOTICE">
      Minds is currently running on the
      <a
        href="https://etherscan.com/token/0xb26631c6dda06ad89b93c71400d25692de89c068"
        target="_blank"
        >Ethereum Mainnet</a
      >.
    </p>
    <p style="margin-top: 8px">
      <b i18n="@@WALLET__BALANCES__TOKENS__TOKEN_TO_VIEWS_CONV_1_1000"
        >1 Token = 1000 Views</b
      >
    </p>
  </div>
</div>
