<form
  (submit)="submit()"
  [formGroup]="form"
  #f="ngForm"
  class="m-form m-monetization--onboarding mdl-color--white mdl-color-text--blue-grey-500"
>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <label i18n="@@M__COMMON__COUNTRY">Country</label>
      <minds-country-input
        [allowed]="[
          'AT',
          'AU',
          'BE',
          'CA',
          'CH',
          'DE',
          'DK',
          'ES',
          'FI',
          'FR',
          'GB',
          'HK',
          'IE',
          'IT',
          'LU',
          'NL',
          'NO',
          'NZ',
          'PT',
          'SE',
          'SG',
          'US'
        ]"
        [country]="form.controls.country.value"
        (countryChange)="form.controls.country.setValue($event)"
      ></minds-country-input>
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="!isCountry(['JP'])">
      <label i18n="@@M__COMMON__FIRST_NAME">First name</label>
      <input
        formControlName="firstName"
        type="text"
        placeholder="First name"
        i18n-placeholder="@@M__COMMON__FIRST_NAME"
      />
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="!isCountry(['JP'])">
      <label i18n="@@M__COMMON__LAST_NAME">Last name</label>
      <input
        formControlName="lastName"
        type="text"
        placeholder="Last name"
        i18n-placeholder="@@M__COMMON__LAST_NAME"
      />
    </div>

    <div class="mdl-cell mdl-cell--6-col">
      <label i18n="@@MONETIZATION__ONBOARDING__DOB_LABEL">Date of Birth</label>
      <minds-date-input
        [date]="form.controls.dob.value"
        (dateChange)="form.controls.dob.setValue($event)"
        [disabled]="restrictAsVerified"
      ></minds-date-input>
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="isCountry(['JP'])">
      <label i18n="@@MONETIZATION__ONBOARDING__GENDER_LABEL">Gender</label>
      <select formControlName="gender">
        <option value=""></option>
        <option value="female" i18n="@@MONETIZATION__ONBOARDING__FEMALE_OPTION"
          >Female</option
        >
        <option value="male" i18n="@@MONETIZATION__ONBOARDING__MALE_OPTION"
          >Male</option
        >
      </select>
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="isCountry(['US'])">
      <label i18n="@@MONETIZATION__ONBOARDING__SSN_LAST_4_LABEL"
        >SSN (last 4 digits)</label
      >
      <input
        formControlName="ssn"
        type="text"
        placeholder="eg. 3333"
        i18n="@@MONETIZATION__ONBOARDING__SSN_LAST_4_PLACEHOLDER"
      />
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="isCountry(['CA', 'HK', 'SG'])">
      <label>
        <ng-container i18n="@@MONETIZATION__ONBOARDING__PERSONAL_ID_LABEL"
          >Personal ID</ng-container
        >

        <m-tooltip
          *ngIf="isCountry(['CA'])"
          icon="help"
          style="vertical-align: middle;"
          i18n="@@MONETIZATION__ONBOARDING__CA_PERSONAL_ID_TOOLTIP"
        >
          Social Insurance Number (SIN).
        </m-tooltip>
        <m-tooltip
          *ngIf="isCountry(['HK'])"
          icon="help"
          style="vertical-align: middle;"
          i18n="@@MONETIZATION__ONBOARDING__HK_PERSONAL_ID_TOOLTIP"
        >
          Hong Kong Identity Card (HKID).
        </m-tooltip>
        <m-tooltip
          *ngIf="isCountry(['SG'])"
          icon="help"
          style="vertical-align: middle;"
          i18n="@@MONETIZATION__ONBOARDING__SG_PERSONAL_ID_TOOLTIP"
        >
          National Registration Identity Card (NRIC).
        </m-tooltip>
      </label>
      <input
        formControlName="personalIdNumber"
        type="text"
        placeholder="Personal ID number or code"
        i18n-placeholder="@@MONETIZATION__ONBOARDING__PERSONAL_ID_PLACEHOLDER"
      />
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col" *ngIf="!isCountry(['JP'])">
      <label i18n="@@MONETIZATION__ONBOARDING__ADDRESS_LABEL">Address</label>
      <input
        formControlName="street"
        type="text"
        placeholder="House name/number, Street name"
        i18n-placeholder="@@MONETIZATION__ONBOARDING__ADDRESS_PLACEHOLDER"
      />
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="!isCountry(['JP', 'SG'])">
      <label i18n="@@MONETIZATION__ONBOARDING__CITY_LABEL">City</label>
      <input
        formControlName="city"
        type="text"
        placeholder="eg. New York City"
        i18n-placeholder="@@MONETIZATION__ONBOARDING__CITY_PLACEHOLDER"
      />
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="isCountry(['US'])">
      <label i18n="State as a country entity@@M__COMMON__COUNTRY_STATE"
        >State</label
      >
      <minds-state-input
        [state]="form.controls.state.value"
        (stateChange)="form.controls.state.setValue($event)"
        [disabled]="restrictAsVerified"
      ></minds-state-input>
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="isCountry(['AU', 'CA', 'IE'])">
      <label i18n="@@MONETIZATION__ONBOARDING__STATE_PROVINCE_LABEL"
        >State / Province</label
      >
      <input
        formControlName="state"
        type="text"
        placeholder="State or province"
        i18n-placeholder="@@MONETIZATION__ONBOARDING__STATE_PROVINCE_PLACEHOLDER"
      />
    </div>

    <div
      class="mdl-cell mdl-cell--6-col"
      *ngIf="!isCountry(['HK', 'IE', 'JP'])"
    >
      <label i18n="@@MONETIZATION__ONBOARDING__ZIP_CODE_LABEL"
        >Zip (Postal) Code</label
      >
      <input
        formControlName="postCode"
        type="text"
        placeholder="eg. 10001"
        i18n-placeholder="@@MONETIZATION__ONBOARDING__ZIP_CODE_PLACEHOLDER"
      />
    </div>

    <div class="mdl-cell mdl-cell--6-col" *ngIf="isCountry(['JP'])">
      <label i18n="@@MONETIZATION__ONBOARDING__PHONE_LABEL">Phone Number</label>
      <input
        formControlName="phoneNumber"
        type="tel"
        placeholder="eg. 123-456789"
        i18n-placeholder="@@MONETIZATION__ONBOARDING__PHONE_PLACEHOLDER"
      />
    </div>
  </div>

  <div class="m-merchant-legal mdl-color--grey-50 mdl-color-text--grey-600">
    <p>
      <input formControlName="stripeAgree" type="checkbox" value="1" />
      <ng-container i18n="@@MONETIZATION__ONBOARDING__AGREE_TERMS_LABEL"
        >I have read and agree to the
        <a routerLink="/monetization">Monetization Terms & Conditions</a
        >.</ng-container
      >
    </p>
  </div>

  <div *ngIf="error" class="m-error mdl-color-text--red">
    {{ error }}
  </div>

  <div class="m-merchant-form-action">
    <button
      type="submit"
      class="mdl-button mdl-button--raised mdl-button--colored"
      [disabled]="inProgress || !f.form.valid"
    >
      <span i18n="@@MONETIZATION__ONBOARDING__NEXT_ACTION">Next</span>
    </button>
  </div>
</form>
