<m-topbar--navigation--options>
  <ng-container *mIfFeature="'top-feeds'">
    <m-nsfw-selector
      [consumer]="true"
      (selected)="onNSFWSelected($event)"
    ></m-nsfw-selector>
  </ng-container>
  <ng-container *ngIf="showBoostOptions">
    <ng-container *mIfFeature="'!top-feeds'">
      <li
        class="m-dropdown--list--item"
        *ngIf="
          boostService.getBoostRating() == 2 && boostService.isBoostEnabled()
        "
      >
        <span i18n="@@M__COMMON__EXPLICIT">Explicit</span>
        <m-tooltip
          icon="help"
          i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__EXPLICIT_ITEM_TOOLTIP"
        >
          By selecting Explicit mode, you acknowledge that you are 18+ years of
          age and are willing to see graphic content.
        </m-tooltip>
        <div class="m-layout--spacer"></div>
        <label
          class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
          for="switch-explicit"
          [mdlSwitch]
          [toggled]="true"
          *ngIf="session.getLoggedInUser().mature"
        >
          <input
            type="checkbox"
            id="switch-explicit"
            class="mdl-switch__input"
            [ngModel]="session.getLoggedInUser().mature"
            (ngModelChange)="setExplicit(false)"
          />
        </label>
        <label
          class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
          for="switch-explicit"
          [mdlSwitch]
          [toggled]="false"
          *ngIf="!session.getLoggedInUser().mature"
        >
          <input
            type="checkbox"
            id="switch-explicit"
            class="mdl-switch__input"
            [ngModel]="session.getLoggedInUser().mature"
            (ngModelChange)="setExplicit(true)"
          />
        </label>
      </li>
    </ng-container>

    <ng-container *mIfFeature="'top-feeds'">
      <li class="m-dropdown--list--item" (click)="toggleRating($event)">
        <span style="text-transform: capitalize">Open</span>
        <m-tooltip
          icon="help"
          i18n="@@MINDS__TOPBAR__TOP__OPEN_TRENDING_ITEM_TOOLTIP"
        >
          Open may contain controversial content. By selecting Open, you
          acknowledge that you are willing to see controversial content.
        </m-tooltip>
        <div class="m-layout--spacer"></div>
        <span class="m-dropdown--spacer"></span>
        <label
          class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
          for="switch-1"
          [mdlSwitch]
          [toggled]="true"
          *ngIf="rating == 2"
        >
          <input
            type="checkbox"
            id="switch-1"
            class="mdl-switch__input"
            [ngModel]="rating"
            (click)="toggleRating($event)"
          />
        </label>
        <label
          class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
          for="switch-1"
          [mdlSwitch]
          [toggled]="false"
          *ngIf="rating != 2"
        >
          <input
            type="checkbox"
            id="switch-1"
            class="mdl-switch__input"
            [ngModel]="rating"
            (click)="toggleRating($event)"
          />
        </label>
      </li>
    </ng-container>

    <li
      class="m-dropdown--list--item"
      (click)="toggleBoostPause()"
      *ngIf="boostService.isBoostEnabled()"
    >
      <span i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__AUTO_ROTATE_ITEM"
        >Auto-rotate</span
      >
      <m-tooltip
        icon="help"
        i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__AUTO_ROTATE_ITEM_TOOLTIP"
      >
        This will enable/disable the Boost box on top of your feed from
        self-rotating.
      </m-tooltip>
      <div class="m-layout--spacer"></div>
      <label
        class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
        for="switch-pause"
        [mdlSwitch]
        [toggled]="true"
        *ngIf="!boostService.isBoostPaused()"
      >
        <input
          type="checkbox"
          id="switch-pause"
          class="mdl-switch__input"
          [ngModel]="!boostService.isBoostPaused()"
        />
      </label>
      <label
        class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
        for="switch-pause"
        [mdlSwitch]
        [toggled]="false"
        *ngIf="boostService.isBoostPaused()"
      >
        <input
          type="checkbox"
          id="switch-pause"
          class="mdl-switch__input"
          [ngModel]="boostService.isBoostPaused()"
        />
      </label>
    </li>
    <li class="m-dropdown--list--item" *ngIf="plus">
      <span
        *ngIf="boostService.isBoostEnabled()"
        (click)="hideBoost()"
        i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__HIDE_BOOST_ITEM"
        >Hide Boost</span
      >
      <span
        *ngIf="!boostService.isBoostEnabled()"
        (click)="showBoost()"
        i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__SHOW_BOOST_ITEM"
        >Show Boost</span
      >
      <m-tooltip
        icon="help"
        i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__BOOST_VISIBILITY_TOOLTIP"
      >
        Plus users may hide Boosts from their newsfeed.
      </m-tooltip>
    </li>
    <li class="m-dropdown--list--item" *ngIf="!plus">
      <span
        routerLink="/plus"
        i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__HIDE_BOOST_ITEM"
        >Hide Boost</span
      >
      <m-tooltip
        icon="help"
        i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__BOOST_VISIBILITY_UPGRADE_TOOLTIP"
      >
        Upgrade to Plus in order to turn off Boost.
      </m-tooltip>
    </li>
    <li
      class="m-dropdown--list--item"
      routerLink="/boost"
      i18n="@@MINDS__NEWSFEED__BOOST_ROTATOR__ABOUT_BOOST"
    >
      About Boost
    </li>
  </ng-container>
</m-topbar--navigation--options>
