<div class="minds-list">
  <minds-newsfeed-poster (load)="prepend($event)"></minds-newsfeed-poster>

  <minds-activity
    *ngFor="let activity of newsfeed; let i = index"
    [object]="activity"
    [boostToggle]="activity.boostToggle"
    (delete)="delete(activity)"
    [showRatingToggle]="true"
    [slot]="i + 1"
    class="mdl-card m-border item"
  ></minds-activity>
  <infinite-scroll
    distance="25%"
    (load)="load()"
    [moreData]="moreData"
    [inProgress]="inProgress"
  >
  </infinite-scroll>
</div>
