m-video--volume-slider {
  outline: none;
  cursor: pointer;
  text-decoration: none;

  .m-video--volume-control-wrapper {
    position: relative;
    display: block;

    i {
      padding: 12px;
    }
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: none;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    cursor: pointer;
    @include m-theme() {
      background-color: themed($m-white-always);
    }
  }

  input[type='range']::-moz-range-thumb {
    height: 16px;
    width: 16px;
    outline: none;
    border-radius: 16px;
    cursor: pointer;
    @include m-theme() {
      background-color: themed($m-white-always);
    }
  }

  input[type='range']::-ms-thumb {
    height: 16px;
    outline: none;
    width: 16px;
    border-radius: 16px;
    cursor: pointer;
    @include m-theme() {
      background-color: themed($m-white-always);
    }
  }

  .m-video--volume-control-selector {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; /* WebKit */
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    outline: none;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 35px;
    right: -18px;
    @include m-theme() {
      background-color: themed($m-white-always);
    }
  }

  .m-video--volume-control {
    display: none;
    bottom: 32px;
    left: calc(50% - 20px);
    z-index: 1;
    width: 40px;
    height: 80px;
    position: absolute;
    margin: 0;
  }

  .m-video--volume-control--background {
    width: 40px;
    height: 72px;
    position: absolute;
    left: calc(50% - 20px);
    bottom: 16px;
    @include m-theme() {
      background-color: rgba(themed($m-black-always), 0.4);
    }
  }

  .m-video--volume-control:hover {
    display: block;
  }

  .m-video--volume-control-wrapper:hover .m-video--volume-control {
    display: block;
  }
}
