<div class="m-marketing">
  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
      <img [src]="minds.cdn_assets_url + 'assets/photos/rocket.jpg'" />
    </div>

    <div class="m-marketing--hero--inner">
      <div class="m-marketing--hero--overlay"></div>

      <div class="m-marketing--hero--slogans">
        <h1 i18n="@@BOOST__MKT__BOOST_TITLE">Boost</h1>
        <h3 i18n="@@BOOST__MKT__PROMOTE_YOUR_CHANNEL_SUBTITLE">
          Promote your channel and content. Expand your reach.
        </h3>
      </div>

      <div class="m-marketing--hero--actions">
        <div class="m-marketing--hero--action-button" *ngIf="user">
          <a
            class="mdl-button mdl-button--colored mdl-color--green mdl-color-text--white"
            routerLink="/boost/console/newsfeed/create"
            i18n="@@BOOST__MKT__CREATE_A_BOOST_ACTION"
          >
            Create a boost
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="m-marketing--contents m-layout--row">
    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">create</i>
      <h2 i18n="@@BOOST__MKT__CREATE_TITLE">Create</h2>
      <span i18n="@@BOOST__MKT__CREATE_SUBTITLE_POST"
        >Post your best videos, images, blogs or statuses to your channel.</span
      >
    </div>

    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">trending_up</i>
      <h2 i18n="@@BOOST__MKT__BOOST_TITLE">Boost</h2>
      <span i18n="@@BOOST__MKT__BOOST_SUBTITLE_TARGET"
        >Target your audience. Select how many views you want.</span
      >
    </div>

    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">refresh</i>
      <h2 i18n="@@BOOST__MKT__GROW_TITLE">Grow</h2>
      <span i18n="@@BOOST__MKT__GROW_SUBTITLE_GAIN"
        >Gain subscribers. Receive engagement. Increase your contribution.</span
      >
    </div>
  </div>

  <div class="m-marketing--statement">
    <h2 i18n="@@BOOST__MKT__NO_RESTRICTIVE_ALGORITHMS">
      No restrictive algorithms. Grow your audience. <br />
      Go viral.
    </h2>
  </div>

  <div class="m-marketing--contents m-layout--row">
    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">home</i>
      <h2 i18n="@@BOOST__MKT__NEWSFEED_TITLE">Newsfeed</h2>
      <span i18n="@@BOOST__MKT__NEWSFEED_DESC"
        >Promote your content in the newsfeeds of the full network</span
      >
    </div>

    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">dashboard</i>
      <h2 i18n="@@BOOST__MKT__SIDEBAR_TITLE">Sidebar</h2>
      <span i18n="@@BOOST__MKT__SIDEBAR_DESC"
        >Promote your channel, group, or media into the sidebars of the full
        network.</span
      >
    </div>

    <div
      class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone"
    >
      <i class="material-icons">people</i>
      <h2 i18n="@@BOOST__MKT__OFFERS_TITLE">Offers</h2>
      <span i18n="@@BOOST__MKT__OFFERS_DESC"
        >Send offers to other channels and target their audience.</span
      >
    </div>
  </div>

  <div class="m-marketing--hero">
    <div class="m-marketing--hero--video">
      <img [src]="minds.cdn_assets_url + 'assets/photos/lizard.jpg'" />
    </div>
    <div class="m-marketing--hero--inner">
      <div class="m-marketing--hero--overlay"></div>
      <div class="m-marketing--hero--slogans">
        <h2 i18n="@@BOOST__MKT__GIVE_YOURSELF_TITLE">
          Give yourself the best chance to earn.
        </h2>
      </div>
    </div>
  </div>

  <div class="m-marketing--faq">
    <m-faq category="boost"></m-faq>
  </div>

  <m-footer></m-footer>
</div>
