<div class="m-token--onboarding" *ngIf="!session.getLoggedInUser().rewards">
  <m-token--onboarding--rewards
    skippable="false"
  ></m-token--onboarding--rewards>
</div>

<div
  class="m-border mdl-color--white m-token-withdraw"
  *ngIf="session.getLoggedInUser().rewards"
>
  <p>
    <ng-container i18n="@@WALLET__TOKENS__WITHDRAW__REQUEST_DESC">
      You can request to withdraw your token rewards to your 'onchain' wallet
      below. Note: a small amount of ETH will be charged to cover the
      transaction fee. Withdrawals may take a few hours to complete.
    </ng-container>

    <ng-container
      *ngIf="withholding"
      i18n="@@WALLET__TOKENS__WITHDRAW__REQUEST_UNAVAILABLE_DESC"
    >
      {{ withholding | number }} tokens are unavailable due to credit card
      payment. They will be released after 30 days the payment occurred.
    </ng-container>
  </p>

  <div class="m-token-withdraw--form">
    <input
      type="text"
      class="m-token-withdraw--input"
      [disabled]="inProgress"
      [ngModel]="amount | number"
      (ngModelChange)="setAmount($event)"
    />

    <button
      class="m-token-withdraw--submit-button"
      [disabled]="!canWithdraw()"
      (click)="withdraw()"
      i18n="@@WALLET__TOKENS__WITHDRAW__WITHDRAW_ACTION"
    >
      Withdraw
    </button>

    <div
      *ngIf="inProgress"
      class="mdl-spinner mdl-js-spinner is-active"
      [mdl]
    ></div>
  </div>

  <p class="m-token-withdraw--error" *ngIf="!!error">
    {{ error }}
  </p>
</div>

<m-wallet-token--withdraw-ledger
  [preview]="true"
></m-wallet-token--withdraw-ledger>
