.m-walletUsd__onboarding {
  font-family: 'Roboto';

  label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 8px 0;
    font-weight: 600;
  }

  minds-country-input {
    width: 100%;
  }

  select {
    padding: 12px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: pointer;
    -webkit-appearance: none;
    @include m-theme() {
      color: themed($m-grey-500);
      background: themed($m-white);
      border-color: themed($m-grey-100);
    }
  }

  .m-date-input--field select {
    padding: 12px 40px 12px 12px;
    text-transform: uppercase;
    @include m-theme() {
      color: themed($m-grey-500);
    }
    margin-right: 4px;
  }

  input[type='text'] {
    padding: 12px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 6px;
    width: 100%;
  }
}
.m-merchant-legal {
  p {
    margin: 0;
  }
  a {
    cursor: pointer;
  }
}

.m-merchant-form-action {
  margin: 16px;
}
