.m-wire-button {
  /*appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  */
  padding: 3px;
  height: auto;
  line-height: 18px;
  cursor: pointer;
  @include m-theme() {
    color: themed($m-blue);
  }

  &:hover {
    @include m-theme() {
      color: rgba(themed($m-blue-dark), 0.9);
    }
  }

  > .ion-icon {
    //  transform: scale(1.6);
    font-size: 18px;
  }

  span {
    margin-left: $minds-margin;
    vertical-align: middle;
  }

  &:focus {
    outline: none;
  }
}
